<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="https://dblp.org/img/dblp.icon.192x192.png">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <title>DS Tools & Tech.</title>
</head>
<style>
    /*     . col{
      background-color: rgba(86, 61, 124, 0.15);
      border: 1px solid rgba(86, 61, 124, 0.2);
    } */
</style>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img
                src="https://dblp.org/img/dblp.icon.192x192.png"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt=""
        />
        Author
    </a>
</nav>
<div class="container mt-5">
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">
            {{data.name}}
        </dd>
        <dt class="col-sm-3">Focus of Research</dt>
        <dd class="col-sm-9">
            {{data.FoR[0]}}
        </dd>
        <dt class="col-sm-3">No. of publications in FoR</dt>
        <dd class="col-sm-9">
            {{data.FoR[1]}}
        </dd>
        <dt class="col-sm-3">Total no. of publications</dt>
        <dd class="col-sm-9">
            {{ data.publications | length }}
        </dd>
    </dl>

    <blockquote class="blockquote">
        <p class="font-italic">List of Publications</p>
    </blockquote>
    <!-- Material input -->
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Key</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                {% set ELEMENTS = ['article', 'inproceedings', 'proceedings', 'book', 'incollection', 'phdthesis', 'mastersthesis', 'www'] %}
                {% for item in data.publications %}
                    <tr style="cursor:pointer" onclick="showInfo(this)">
                        <th>{{item.id}}</th>
                        <td>{{item.key}}</td>
                        <td>{{item.title}}</td>
                        <td>{{ELEMENTS[item.type]}}</td>
                        <td>{{item.year}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function showInfo(obj) {
        window.location.assign('/publication/'+obj.children[0].textContent+'?'+'key='+obj.children[1].textContent+'&title='+obj.children[2].textContent+'&type='+obj.children[3].textContent+'&year='+obj.children[4].textContent);
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>
